body {
    background-color:rgb(250, 245, 239);
    color: black; 
    font-family: 'Montserrat', sans-serif;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


.title {
    font-size: 40px;
    text-align: center; 
    color: darkolivegreen;
}

.content {
    width:100%; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.create-account {
    font-size: 40px; 
    text-align: center; 
    color:darkolivegreen;
}

.main{
    width:100%; 
    text-align: center; 
    color:black;
}

.form {
    padding-top: 20px; 
    font-size: 30px; 
}

button {
    font-size: 25px; 
    color: white; 
    background-color:rgb(144, 169, 100); 
    padding: 20px 37px; 
    border: none; 
    border-radius: 12px; 
}

input {
    font-family:'Montserrat', sans-serif; 
    border:none;
    border-radius:10px; 
    padding: 10px 20px; 
    border:1px solid darkolivegreen;
}
