body {
    background-color:rgb(250, 245, 239);
    color: black; 
    font-family: 'Montserrat', sans-serif;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.navbar {
    background-color: olive; 
    width:100%; 
    position:fixed; 
    align-items: right; 
    display: flex; 
    padding-bottom:30px; 
}

.navbar a {
    float: right; 
    text-align: right;
    padding-right: 30px; 
    color:white; 
}

.navbar a:hover {
    background-color: rgba(247, 187, 117, 0.347);
    color: white; 
}

.navbar a:active {
    background-color: olive; 
    color: white; 

}

.title-section {
    margin-top:50px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    position:fixed; 
    padding-top: 10px; 
    background-color: rgb(255, 227, 202);
    border-style: solid; 
    border-color: rgba(178, 143, 61, 0.841);
    width:100%; 
}

.desImage {
    -webkit-box-ordinal-group: 1; /* iOS 6-, Safari, Opera*/
    -moz-box-ordinal-group: 1; /* Firefox*/
    -ms-flex-order: 1; /* IE 10 */
    -webkit-order: 1; /* Chrome */
}

img {
    width: 60px; 
    height: auto; 
    padding-right: 10px; 
}

.title {
    font-size: 40px;
    text-align: center; 
    color: darkolivegreen;
}

.split {
    height: 100%; 
    width: 50%;
    position:fixed; 
    z-index: 1;
    top:23%;
    overflow-x: hidden; 
}

.left {
    left: 0;
    background-color: rgb(144, 169, 100); 
}

.filler {
    color: white; 
}

.right {
    right: 0; 
    background-color:rgb(250, 245, 239); 
}

#top {
    height: 17%;
    width: 100%; 
}

.welcome-section {
    width:100%; 
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.welcome {
    font-size: 40px; 
    text-align: center; 
    color:darkolivegreen;
}

.main{
    width:100%; 
    text-align: center; 
    color:black;
}

.create-account {
    font-size: 30px; 
}

a {
    font-size: 30px; 
}

.form {
    padding-top: 20px; 
    font-size: 30px; 
}

button {
    font-size: 25px; 
    color: white; 
    background-color:rgb(144, 169, 100); 
    padding: 20px 37px; 
    border: none; 
    border-radius: 12px; 
}

input {
    font-family:'Montserrat', sans-serif; 
    border:none;
    border-radius:10px; 
    padding: 10px 20px; 
    border:1px solid darkolivegreen;
}
