<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/analytics.css') }}">


    <title>Analytics</title>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="/path/to/dist/jquery-dm-select-show.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar">
        <a class="active" href="index.html">Home</a>
        <a href="analytics.html">Analytics</a>
        <a>Log Out</a>
    </div>

    <div class = "title-section"> 
        <h1 class = "title">ANALYTICS</h1>
    </div>

    <div class="inside">
        <div class="split left">
            <h1 class = "top-5-head">Top 5 most POPULAR products:</h1>
            <div class = "top-5-products" id = "top-5-products"></div>        
        </div>

        <div class = "split right">
            <div class="wrapper">
                <div class="list">
                    <label for = "top-buyers" style="font-size: 40px">TOP Buyers This Week For: </label>
                    <select id="top-buyers" style="font-size:40px; color:darkolivegreen">
                        <option value="unselected">Unselected</option>
                        <option value="hot-dog">Hot Dog</option>
                        <option value="bubble-tea">Bubble Tea</option>
                        <option value="mochinut">Mochinut</option>
                        <option value="spicy-rice-cakes">Spicy Rice Cakes</option>
                    </select>
            
                    <div class="content">
                        <div id ="unselected" class="data">
                            <h4>Choose a Category to See Analytics</h4>
                        </div>
                        <div id ="hot-dog" class="data">
                            <ol>
                                <li>Harry Potter</li>
                                <li>Draco Malfoy</li>
                                <li>Hermione Granger</li>
                                <li>Ron Weasley</li>
                                <li>Severus Snape</li>
                            </ol>
                        </div>
                        <div id ="bubble-tea" class="data">
                            <ol>
                                <li>Percy Jackson</li>
                                <li>Annabeth Chase</li>
                                <li>Thalia Grace</li>
                                <li>Nico di Angelo</li>
                                <li>Luke Castellan</li>
                            </ol>
                        </div>
                        <div id ="mochinut" class="data">
                            <ol>
                                <li>Padme Amidala</li>
                                <li>Anakin Skywalker</li>
                                <li>ObiWan Kenobi</li>
                                <li>Boba Fett</li>
                                <li>Han Solo</li>
                            </ol>
                        </div>
                        <div id ="spicy-rice-cakes" class="data">
                            <ol>
                                <li>Nathasha Romanoff</li>
                                <li>Steve Rogers</li>
                                <li>Tony Stark</li>
                                <li>Thor Odinson</li>
                                <li>Wanda Maximoff</li>
                            </ol>
                        </div>
                    </div>
                </div>   
            </div>
        </div>

        <div class="split bottom">
            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                        <th><button id="memberid">Member ID</button></th>
                        <th><button id="name">Customer</button></th>
                        <th><button id="phone">Phone</button></th>
                        <th><button id="reg-date">Reg Date</button></th>
                        <th><button id="birthday">Birthday</button></th>
                        <th><button id="email">Email</button></th>
                        <th><button id="points">Points</button></th>
                        <th><button id="spent">Spent</button></th>
                        <th><button id="rank">Rank</button></th>
                        </tr>
                    </thead>
                    <tbody id="table-content"></tbody>
                </table>
            </div>

            <form action = "/success" method = "post" enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit" value="Upload" />
            </form>
        </div>
    </div>

    <script>
        anychart.onDocumentReady(function() {
            var data = anychart.data.set([
            ["Matcha Tea", 24],
            ["Churro ", 20],
            ["Original Rice Hot Dog", 19],
            ["Potato Half Rice Hot Dog", 13],
            ["Matcha Mochinut", 10]
            ]); 

            // create the chart
            var chart = anychart.pie(data); 

            chart.container('top-5-products'); 

            chart
                .innerRadius('65%')
                .explode(25)

            var label = anychart.standalones.label(); 
            label
                .enabled(true)
                .text('Top 5 most POPULAR products')
                .width('100%')
                .height('100%')
                .adjustFontSize(true, true)
                .minFontSize(20)
                .maxFontSize(30)
                .fontColor('darkolivegreen')
                .position('center')
                .anchor('center')
                .hAlign('center')
                .vAlign('middle'); 

            chart.center().content(label); 

            chart.hovered().fill('darkolivegreen'); 
            chart.selected().fill('olive'); 

            chart
                .hovered()
                .outline()
                .fill(function() {
                    return anychart.color.lighten('darkolivegreen', 0.55);
                }); 

            chart
                .selected()
                .outline()
                .offset(5)
                .fill(function () {
                return anychart.color.lighten('olive', 0.25);
            });

            chart.draw(); 
             
        });  
    </script>

    <script>
        $(document).ready(function() {
            $("#top-buyers").on('change', function() {
                $(".data").hide(); 
                $("#" + $(this).val()).fadeIn(700); 
            }).change(); 
        }); 
    </script>


</body>
</html>