<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/analytics.css') }}">


    <title>Analytics</title>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="/path/to/dist/jquery-dm-select-show.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>

</head>
<body class="bg-white">
    <nav class="navbar navbar-expand-lg navbar-light background-color">
        <a class="navbar-brand" href="#">Mochinut</a>
        <img src = "{{url_for('static', filename='photos/mochinut-logo.png')}}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="analytics.html">View Customer Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="email.html">Email Your Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout.html">Logout</a>
              </li>
          </ul>
        </div>
      </nav>

    <div class = "title-section"> 
        <h1 class = "text-center mt-4">Tenafly Mochinut's Customer Analytics <img src = "{{url_for('static', filename='photos/analytics.png')}}" alt="icon" width="50" height="50" class="d-inline-block align-text-top"></h1>
    </div>

    <div class="card mt-4 mx-auto" style="width: 50rem;">
        <h5 class="card-header">Update the cloud database</h5>
        <div class="card-body">
            <form action = "/success" method = "post" enctype = "multipart/form-data">
                <div class="form-group">
                    <div class="btn-group mb-3">
                        <input class="form-control" type="file" name="file" id="formFile" style="width: 30rem;" multiple>
                        <input type="submit" value="Upload" class = "database btn btn-outline-primary"></a>
                      </div>
                </div>
            </form>
            <a class = "database mr-4 btn btn-info" href="table.html">Check Out Complete Database of Customers</a>
            <a class = "database mr-4 btn btn-info" href="latest.html">View Latest Customers</a>
        </div>
    </div>

    <div class="card mt-4  mx-auto" style="width: 50rem;">
        <h5 class="card-header">Top 5 most POPULAR products at Mochinut Tenafly:</h5>
        <!-- <form id="popular-products">
            <input type="number" min="1" max="9" value="5" required class="form-control" placeholder="Enter a # less than 10" id="product-num" name="product-num">
        </form> -->
        
        <div class="card-body">
            <form action="/analytics.html" method="post">
            </form>
            <div class = "top-5-products" id = "top-5-products"></div>  
        </div>
      </div>

    <div class="card mt-4 mx-auto" style="width: 50rem;">
        <h5 class="card-header">TOP Buyers This Week For:</h5>
        <form action= "/analytics.html" method="post">
            <select id="top-buyers" name="selected">
                <option value="unselected" {% if selected == 'unselected' %}selected{% endif %}>Choose Category</option>
                <option value="hot-dog" {% if selected == 'hot-dog' %}selected{% endif %}>Hot Dog</option>
                <option value="bubble-tea" {% if selected == 'bubble-tea' %}selected{% endif %}>Bubble Tea</option>
                <option value="mochinut" {% if selected == 'mochinut' %}selected{% endif %}>Mochinut</option>
                <option value="spicy-rice-cakes" {% if selected == 'spicy-rice-cakes' %}selected{% endif %}>Spicy Rice Cakes</option>
            </select>
            <!-- <button type="submit" class="btn btn-outline-info text-right ml-2 mt-2" name="buyerButton">Submit</button> -->
        </form>

        <div class="card-body">
            <div class="content">
                <div id ="unselected" class="data">
                    <h4>Choose a Category to See Analytics</h4>
                </div>
                <div id ="bubble-tea" class="data">
                    <ol>
                        {% for item in top_buyersMilkTea %}
                            <li>{{item}}</li>
                        {% endfor %}
                    </ol>
                </div>
                <div id ="mochinut" class="data">
                    <ol>
                        {% for item in topBuyers %}
                            <li>{{item}}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div> 
        </div>
      </div>
    
    <script type="text/javascript">

        anychart.onDocumentReady(function() {
            {% if chart_data %}
            var chart_data = {{ chart_data|tojson|safe }};

            const items = [];
            for (const [label, value] of chart_data){
                items.push({x: label, value: value});
            }

            var data = anychart.data.set(items);

            var chart = anychart.pie(data); 

            chart.container('top-5-products'); 

            chart
                .innerRadius('65%')
                .explode(25)

            var label = anychart.standalones.label(); 
            label
                .enabled(true)
                .text('Most POPULAR products')
                .width('100%')
                .height('100%')
                .adjustFontSize(true, true)
                .minFontSize(20)
                .maxFontSize(30)
                .fontColor('black')
                .position('center')
                .anchor('center')
                .hAlign('center')
                .vAlign('middle'); 

            chart.center().content(label); 

            chart.hovered().fill('blue'); 
            chart.selected().fill('blue'); 

            chart
                .hovered()
                .outline()
                .fill(function() {
                    return anychart.color.lighten('pink', 0.55);
                }); 

            chart
                .selected()
                .outline()
                .offset(5)
                .fill(function () {
                return anychart.color.lighten('pink', 0.25);
            });

            chart.draw(); 
            {% endif %}

        });  
    </script>

    <script>
         $(document).ready(function() {
            $("#top-buyers").on('change', function() {
                $(".data").hide(); 
                $("#" + $(this).val()).fadeIn(700); 
            }).change(); 
        }); 


    </script>

</body>
</html>