<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/email.css') }}">


    <title>Email Customers</title>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="/path/to/dist/jquery-dm-select-show.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="navbar">
        <a class="active" href="index.html">Home</a>
        <a href="analytics.html">Analytics</a>
        <a href="email.html">Email</a>
        <a>Log Out</a> 
    </div>

    <div class = "title-section"> 
        <h1 class = "title">EMAIL CUSTOMERS</h1>
    </div>

    <div class="inside">
        <div class = "form">
            <form action="" method="post">
                <h1 class = "test"> hello </h1>
                <label for="email">Email You Want to Send to Your Customers</label>
                <input type="text" id="email" name="email">
                <button type="submit" id="submitbtn"> Submit! </button>
            </form>
        </div>

        <form action = "/success" method = "post" enctype = "multipart/form-data">
            <input type = "file" name = "file" multiple/>
            <input type = "submit" value="Upload" />
        </form>

        <input type="radio" id="all" name="sending" value="all">
        <label for="all">Send to All Rewards Members</label><br>
        <input type="radio" id="manual" name="sending" value="manual" onclick="showtext">
        <label for="manual">Send Manually</label><br>
        <input type="text" id="customer-emails" name="customer-emails">
    </div>

</body>