{# app/templates/email.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/email.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <title>Email Customers</title>

</head>
<body class="bg-white">
    <nav class="navbar navbar-expand-lg navbar-light background-color">
        <a class="navbar-brand" href="#">Mochinut</a>
        <img src = "{{url_for('static', filename='photos/mochinut-logo.png')}}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="analytics.html">View Customer Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="email.html">Email Your Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout.html">Logout</a>
              </li>
          </ul>
        </div>
      </nav>

    <div class = "title-section"> 
        <h1 class = "title">Email Your Customers <img src = "{{url_for('static', filename='photos/mail.png')}}" alt="icon" width="50" height="50" class="d-inline-block align-text-top"></h1>
    </div>

    <div class="card mx-auto mb-4" style="width: 50rem;">
      <h5 class="card-header">Send Email</h5>
      <div class="card-body">
        <form action="{{ url_for('send') }}" method="post" enctype = "multipart/form-data" novalidate>
          <div class="btn-group">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Recipient</button>
            <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <label class="dropdown-item" for="send-manually">
                <input class="form-check-input" type="radio" id="send-manually" name="send-option" value="send-manually"> Send Manually
              </label>
              <label class="dropdown-item" for="send-bdays">
                <input class="form-check-input" type="radio" id="send-bdays" name="send-option" value="send-bdays"> Send to Upcoming Birthdays
              </label>
              <label class="dropdown-item" for="top-ranks">
                <input class="form-check-input" type="radio" id="top-ranks" name="send-option" value="top-ranks"> Send to Top Ranks
              </label>
              <label class="dropdown-item" for="send-all">
                <input class="form-check-input" type="radio" id="send-all" name="send-option" value="send-all"> Send to All
              </label>
            </div>
          </div>
          <div class="textbox mt-10">
            <input class="form-control mt-2" type="text" name="manual_emails" style="display:none" placeholder="Enter email addresses separated by spaces"/>
          </div>

          <br>
          <div class="upload">
            <div class="mb-3">
              <label for="file" class="form-label">Choose an image to upload:</label>
              <input class="form-control" type="file" name="file" id="formFile">
            </div>
            <br>
            <label for="subject">Enter your subject:</label>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text"></span>
              <input type="text" name="subject" class="form-control" aria-label="Sizing input" aria-describedby="inputGroup-sizing-lg" required>
            </div>
            <label for="textbox">Enter your message:</label> 
            <button type="button" class="btn btn-outline-info ml-2" data-toggle="modal" data-target="#infoModal">
              <i class="fas fa-info-circle"></i>
            </button>
            <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Customize your email using keywords!<br>
                    [name] -> Customer Name<br>
                    [points] -> Customer Points
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group input-group-lg mt-3">
              <span class="input-group-text" id="inputGroup-sizing-lg"></span>
              <input type="text" id="textbox" name="textbox" class="form-control" aria-label="Sizing input" aria-describedby="inputGroup-sizing-lg" required>
            </div>
            <button type="submit" class="btn btn-outline-info btn-sm text-right mt-3" id = "submit-btn" name = "mybutton">Submit</button>
            <form method="post" action="/send-email">
              <button class="btn btn-outline-secondary btn-sm mt-3" name="preview" value="1">Preview Email</button>
              <br>
            </form>
          </div>
        </form>
      </div>
    </div>

    {% if email_sent %}
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Email Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You have successfully sent an email to your customers!
          </div>
          <div class="modal-footer">
            <button type="button" id="success-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalLabel2">Email Error</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  There was an error sending the email. Please try again later.
              </div>
              <div class="modal-footer">
                  <button type="button" id="error-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  {% endif %}

  <!-- <div class="modal fade" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="emailPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="emailPreviewModalLabel">Email Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="emailPreviewContent">
          Email preview content will be dynamically added here
        </div>
      </div>
    </div>
  </div> -->
    
  <!-- <script>
    window.addEventListener('load', function() {
    // Clear the textbox value
    document.getElementById('manual_emails').value = '';
    document.getElementById('textbox').value='';

    // Clear the selected radio button
    var radioButtons = document.getElementsByName('send-option');
    for (var i = 0; i < radioButtons.length; i++) {
      radioButtons[i].checked = false;
    }
    });
  </script> -->
  <!-- <script>
    $(document).ready(function() {
      var emailSent = '{{ email_sent|lower }}';
      console.log(emailSent);
        
      document.getElementById("submit-btn").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent form submission
        if (emailSent == 'true') {
          console.log("success");
          $('#success-modal').modal('show');
        }
        else {
          console.log("error");
          $('#error-modal').modal('show');
        }
      });
    });
  </script> -->
  <script>
    $(document).ready(function(){
      $('.dropdown-item').click(function(){
          var selectedValue = $(this).data('value');
          $('.dropdown-toggle').html($(this).text());
      });
    });  
      
    $(document).ready(function(){
      $('#dropdown-menu input').click(function(){
        if ($(this).attr('id') === 'send-manually') {
          $('input[name="manual_emails"]').toggle($(this).val() === 'send-manually');
        } else {
          $('input[name="manual_emails"]').hide();
        }
      });
    });
    </script>
     <script>
      const previewButton = document.querySelector('#preview-button');
      const emailInput = document.querySelector('#manual_emails');
      const fileInput = document.querySelector('#file');
      const textInput = document.querySelector('#textbox');
  
      previewButton.addEventListener('click', async () => {
          const formData = new FormData();
          formData.append('manual_emails', emailInput.value);
          formData.append('file', fileInput.files[0]);
          formData.append('textbox', textInput.value);
  
          const response = await fetch('/preview-email', {
              method: 'POST',
              body: formData,
          });
  
          const preview = await response.json();
          const previewWindow = window.open('', 'Email Preview');
          previewWindow.document.write(`
              <h2>To: ${preview.email}</h2>
              <img src="data:image/png;base64,${preview.image_data}">
              ${preview.html_content}
          `);
      });
    </script>
</body>
</html>