<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/email.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>

    <title>Email Customers</title>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <link href="/path/to/dist/jquery-dm-select-show.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-white">
    <nav class="navbar navbar-expand-lg navbar-light background-color">
        <a class="navbar-brand" href="#">Mochinut</a>
        <img src = "{{url_for('static', filename='photos/mochinut-logo.png')}}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="analytics.html">View Customer Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="email.html">Email Your Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout.html">Logout</a>
              </li>
          </ul>
        </div>
      </nav>

    <div class = "title-section"> 
        <h1 class = "title">Email Your Customers <img src = "{{url_for('static', filename='photos/mail.png')}}" alt="icon" width="50" height="50" class="d-inline-block align-text-top"></h1>
    </div>

    <div class="card mx-auto mb-4" style="width: 50rem;">
        <h5 class="card-header">Send Email</h5>
        <div class="card-body">
            <div class="form-check">
                <form action="{{ url_for('send') }}" method="post" enctype = "multipart/form-data">
                    <input class="form-check-input" type="radio" id="send-all" name="send-option" value="send-all" checked>
                    <label class="form-check-label" for="send-all">Send to All</label>
                    <br>
                    <input class="form-check-input" type="radio" id="send-manually" name="send-option" value="send-manually">
                    <label class="form-check-label" for="send-manually">Send Manually</label>
                    <input class="form-control mt-2" type="text" name="manual_emails" placeholder="Enter email addresses separated by comma"/>
                    <br>
                    <div id="manual-emails" style="display:none">
                      <label for="email">Emails You Want to Send to Your Customers (separate with commas)</label>
                      <input type="text" id="email" name="email" required>
                    </div> <!--what is the point of this code-->
                    <br>
                    <div class="upload">
                      <div class="mb-3">
                        <label for="file" class="form-label">Choose an image to upload:</label>
                        <input class="form-control" type="file" name="file" id="formFile">
                      </div>
                      <br>
                      <label for="textbox">Enter your message:</label>
                      <div class="input-group input-group-lg">
                        <span class="input-group-text" id="inputGroup-sizing-lg"></span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" required>
                      </div>
                      <br>
                      <button type="submit" class="btn btn-outline-info btn-sm text-right" name = "mybutton">Submit</button>
                    </div>
                  </form>
                </div>
        </div>
    </div>

    

          <!--
    <div class="inside">
        <div class="form">
            <form action="{{ url_for('send') }}" method="post" enctype = "multipart/form-data">
              <h1 class="test">Send Email</h1>
              <input type="radio" id="send-all" name="send-option" value="send-all" checked>
              <label for="send-all">Send to All</label>
              <br>
              <input type="radio" id="send-manually" name="send-option" value="send-manually">
              <label for="send-manually">Send Manually</label>
              <input type="text" name="manual_emails" placeholder="Enter email addresses separated by comma"/>
              <br>
              <div id="manual-emails" style="display:none">
                <label for="email">Emails You Want to Send to Your Customers (separate with commas)</label>
                <input type="text" id="email" name="email">
              </div>
              <br>
              <div class="upload">
                <label for="file">Choose an image to upload:</label>
                <input type="file" id="file" name="file">
                <br>
                <label for="textbox">Enter your message:</label>
                <input type="text" id="textbox" name="textbox">
                <br>
                <input type="submit" value="Send">
              </div>
            </form>
          </div>



        <div class = "form">
            <form action="" method="post">
                <h1 class = "test"> hello </h1>
            </form>
        </div>

        <div class = "upload">
            <form action = "/upload" method = "post" enctype = "multipart/form-data">
                <input type = "file" name = "file"/>
                <input type="text" name="textbox" />
                <input type = "submit" value="Upload" />
            </form>
        </div>
    
        <div class = "radiobtn">
            <input type="radio" id="all" name="sending" value="all">
            <label for="all">Send to All Rewards Members</label><br>
            <input type="radio" id="manual" name="sending" value="manual" onclick="showtext">
            <label for="manual">Send Manually</label><br>
            <input type="text" id="customer-emails" name="customer-emails">
        </div> -->
       
    </div>

</body>