<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

    <title>Mochinut</title>

</head>
<body>
    <div class="navbar">
        <a class="active" href="index.html">Home</a>
        <a href="analytics.html">Analytics</a>
        <a href="logout.html">Log Out</a>
    </div>

    <div class = "title-section"> 
        <div class="desImage">
            <img src = "{{url_for('static', filename='photos/mochinut-logo.png')}}">
            
        </div>
        <h1 class = "title">REWARDS</h1>
    </div>
    
    <div class="inside">
        <div class= "split left">
            <a class = "filler">Image coming soon!</a>
        </div>

        <div class = "split right">
            <div class = "welcome-section">
                <h1 class = "welcome">Welcome!</h1>
            </div>

            <div class = "main">
                <h1 class="create-account">Create an Account</h1>
                <a>Sign up to gain free rewards for Mochinut Tenafly!</a>
                
                <div class = "form">
                    <form action="" method="post">
                        <label for="fname">First Name:</label> 
                        <input type="text" id="fname" name="fname"><br><br>
                        <label for="lname">Last Name:</label>
                        <input type="text" id="lname" name="lname"><br><br>
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email"><br><br>
                        <label for="pnumber">Phone Number:</label>
                        <input type="text" id="pnumber" name="pnumber"><br><br>
                        <label for="bday">Birthday:</label>
                        <input type="text" id="bday" name="bday"><br><br>
                        <button type="submit" id="submitbtn"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
